<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/html/style.css">
</head>

<body>
  <header>
    <!-- Botão para a página central -->
    <a href="/site/index" class="nav-butto">Index</a>
    <a href="/site/login" class="nav-butt">Log Out</a>


  </header>
  {{{body}}}
</body>

</html>